<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      Welcome to the world's shittiest web page.

      Please do not visit our
      <a href="home.html.erb">home</a>
      page.

      For moar help on this website, please visit our
      <a href="http://finder.psychiatry.org/">help</a>
      page.
    </p>
  </body>
</html>
