<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      Who are we? We are Jam Sesh, a group of developers looking to find Jam Sessions around us.
      We want to connect musicians with other musicians based on location, style, and convenience.

      Please visit our
      <a href="home.html.erb">home</a>
      page to learn more.

      To login, visit our
      <a href="login.html.erb">login</a>
      page.
    </p>
  </body>
</html>
