<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<% provide(:title, "About Us") %>

<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | JamSesh</title>
</head>
<body>
<h1 style="color: #5e9ca0;">JamSesh!</h1>
<h1>About Us</h1>
<h2 style="color: #2e6c80;">Who are we?</h2>
<p>Just a group of developers looking to find Jam Sessions around us. We want to connect musicans with other musicans based on location, style, and convenience.</p>
<p>Our current Github Repo: <a href= https://github.com/ezhou7/JamSesh <em> Click Here</em> </a></p>
</body>
</html>
