<%= provide(:title, 'Contact') %>

<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
</head>
<body>
<h1><%= yield(:title) %></h1>
<p>
  This is our contact page.
  Please refrain from contacting us.
  We do not want to hear from you.
  We hate our users.
</p>
</body>
</html>