<% provide(:title, "Login") %>


<h1>JamSesh Account Login</h1>
<input type="email" name="email" class="login-input" placeholder="Email Address" autofocus>
<input type="password" name="password" class="login-input" placeholder="Password">
<input type="submit" value="Login" class="login-submit">


<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= yield(:title) %> | JamSesh</title>
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<form action="index.html" class="login">
  <h4>Don't have an account? No problemo! Sign in using your social media credentials.</h4>
  <h1>Login in using Myspace/AIM/MSN</h1>
  <input type="email" name="email" class="login-input" placeholder="Email Address" autofocus>
  <input type="password" name="password" class="login-input" placeholder="Password">
  <input type="submit" value="Login" class="login-submit">
  <p class="login-help"><a href="https://pbs.twimg.com/media/Cwo_QXFUoAAFPvL.jpg">Forgot password?</a></p>

</form>

</body>
</html>